<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gruppo|Nixie+One" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/ajax.js"></script>
    <script type="text/javascript" src="/static/js/join.js"></script>
    <script type="text/javascript" src="/static/js/deleteaccount.js"></script>
    
    <title>{% block title %}{% endblock %} - Amy Jording</title>
    {% endblock %}
</head>
<body>
    <nav>
      {% for page in page_list %}
          <svg style="display:none;">
            {% if page == 'dash' %}
                <symbol id="demo" viewBox="0 0 100 100">
            {% else %}
                <symbol id="{{ page }}" viewBox="0 0 100 100">
            {% endif %}
            {% if page in urls %}
                <circle cx="50" cy="50" r="50" fill-opacity="0.5" />
            {% else %}
                <a id="{{ page }}-link" href="/{{ page }}"><circle cx="50" cy="50" r="50" /></a>
            {% endif %}
            <path fill="currentColor"/>
            </symbol>
          </svg>
      {% endfor %}
    </nav>
    <div class="row navheadrow">
      <div class="col-sm-12 col-md-12">
          <h2><a id="home" href="/">Amy Jording</a></h2>
      </div>
    </div>
    <div class="row navrow">
      <div class="col-md-12">
        <div class="row colwrapper">
          <div class="col-xs-12 col-sm-3 col-md-3 navcol">
            <svg class="sasssmall"><use href="#about" /></svg>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 navcol">
            <svg class="sasssmall sass--color"><use href="#work" /></svg>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 navcol">
            <svg class="sasssmall sass--invert"><use href="#demo" /></svg>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 navcol">
            <svg class="sasssmall sass--purple custom"><use href="#contact" /></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="wrapper">
        <div class="row content" id="content">{% block content %}{% endblock %}</div>

        <div id="footer">
            {% block footer %}{% endblock %} 
        </div>
      </div>
    </div>
   <script src="/static/js/dash.js"></script>
</body>
</html>