{% extends "base.html" %}
{% block content %}
  
  <div class="row logorow">
    <div class="col"><h1>Your Dashboard</h1>
      <h4>Drag and drop modules from right to left to pin and left to right to unpin.
    </div>
  </div>
  <!-- refer to this: https://codepen.io/amyjording/pen/MZQoxe  for moving blocks around -->
  <div class="row dashoptions">
    <div class="col">
      <nav class="dash-nav">
            <a href="#" class="options" style="color:black; float: left; margin-left: -10px;">More options</a>
            <ul id="hideshow">
                <li><a class="signin" id="userAccount" href="#0">Account Settings</a> </li>
                <li><a class="signup" id="Logout" href="#0">Logout</a></li>
                <li><a href="#" class="options" style="color:black; float: right;">Close</a></li>
            </ul>
        </nav>
    </div>
  </div>
  <div class="row dashrow">
    
  <div class="col folio" id="unassigned" ondrop="dropUser(this, event)" ondragenter="return false" ondragover="return false">
    <h2>Today's Goodies:</h2>
     <div draggable="true" id="advice-{{dash.advice['slip_id']}}" class="pins" ondragstart="dragUser(this, event)">
        <div class="pinhead advice"><h2>Advice</h2></div>
        <p>{{dash.advice['advice']}}</p> <!-- <p>Things are just things. Don't get too attached to them.</p> -->
        <p><img class="dash-image" src="{{dash.advice['image']}}"></p><!-- <img src="https://media2.giphy.com/media/l41YpZerdLWFRKkJa/200w.webp?cid=3640f6095c33ce8b5735726f779db88f"> -->
     </div>        
     <div draggable="true" id="bored-{{dash.bored['key']}}" class="pins" ondragstart="dragUser(this, event)">
       <div class="pinhead bored"><h2>Activity</h2><h4>a cure for boredom</h4></div>
          <h2>{{dash.bored['activity']}}</h2>
          <p>Activity Type: {{dash.bored['type']}}</p>
          <p><img class="dash-image" src="{{dash.bored['image']}}"></p>
          <p>Participants: {{dash.bored['participants']}}</p>
      </div>
     <div draggable="true" id="love-{{dash.lovecraft['id']}}" class="pins" ondragstart="dragUser(this, event)">
      <div class="pinhead oldone"><h2>Old One</h2></div>
        <h2>{{dash.lovecraft['title']}}</h2>
        <p><img class="dash-image" src="{{dash.lovecraft['image']}}"></p>
        <p><strong>{{dash.lovecraft['snippet']}} <a href="{{dash.lovecraft['url']}}">Discover more</a></strong></p>
      </div>
  </div>

  <!-- Need to figure out how to add possibly id's dynamically as the pins generate from the model -->
  <div class="col folio" id="saved" ondrop="dropUser(this, event)" ondragenter="return false" ondragover="return false">
    <h2>Pinned favorites:</h2>
      {% for dictionary in dash.pinned_advice %}
            <div draggable="true" id="advice-{{dictionary['slip_id']}}" class="pins" ondragstart="dragUser(this, event)">
              <div class="pinhead advice"><h2>Advice</h2></div>
              <p>{{dictionary['advice']}}</p> <!-- <p>Things are just things. Don't get too attached to them.</p> -->
              <p><img class="dash-image" src="{{dictionary['image']}}"></p>
           </div>
      {% endfor %}
      {% for bdictionary in dash.pinned_bored %}
           <div draggable="true" id="bored-{{bdictionary['key']}}" class="pins" ondragstart="dragUser(this, event)">
             <div class="pinhead bored"><h2>Activity</h2><h4>a cure for boredom</h4></div>
                <h2>{{bdictionary['activity']}}</h2>
                <p>Activity Type: {{bdictionary['type']}}</p>
                <p><img class="dash-image" src="{{bdictionary['image']}}"></p>
                <p>Participants: {{bdictionary['participants']}}</p>
            </div>
      {% endfor %}
      {% for odictionary in dash.pinned_lovecraft %}
           <div draggable="true" id="love-{{odictionary['id']}}" class="pins" ondragstart="dragUser(this, event)">
            <div class="pinhead oldone"><h2>Old One</h2></div>
              <h2>{{odictionary['title']}}</h2>
              <p><img class="dash-image" src="{{odictionary['image']}}"></p>
              <p><strong>{{odictionary['snippet']}} (<a href="{{odictionary['url']}}">Discover more</a>)</strong></p>
            </div>
      {% endfor %}
  </div>
  </div>
{% endblock %}
