{% extends "base.html" %}
{% block content %}
  
  <div class="row useraccount">
    <div class="col"><h1>{{ user.username }}'s Account</h1></div>
  </div>
  <!-- refer to this: https://codepen.io/amyjording/pen/MZQoxe  for moving blocks around -->
  <div class="row useraccountmessages"><div class="col" id="userSettingsStatus" class="">{{ msg }}</div></div>
  <div class="row"> 
    <div class="col">
      <div class="user-modal always-visible" style="margin-top: 200px;">
          <div class="user-modal-container">
            <a href="/dash" class="btn btn-primary label-bold" style="float:right;">Back to Dashboard</a>
            <form id="updateUser" class="form">
              <h4><strong>username:</strong> {{ user.username }}</h4>
              <p class="fieldset">
                <label class="image-replace password" for="signin-password">Current Password</label>
                <input class="full-width has-padding has-border toggle-pass" id="signin-password" type="password" name="password" placeholder="Current Password">
                <a href="#0" class="hide-password">Show</a>
                <span class="error-message"></span>
              </p>
              <p class="fieldset">
                <label class="image-replace password" for="new-password">New Password</label>
                <input class="full-width has-padding has-border toggle-pass" id="new-password" type="password" name="newpassword" placeholder="New Password">
                <a href="#0" class="hide-password">Show</a>
                <span class="error-message"></span>
              </p>
              <p class="fieldset">
                <input type="hidden" name="usertoken" value="{{ user.email }}">
                <input class="full-width" type="submit" value="Update Account">
              </p>
            </form>
            <div class="centered">
              <a href="/demo/delete" class="btn btn-secondary">Delete Account</a>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
